<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="./styles/style.css">
  <title>Подарки жене</title>
</head>
<body class="grid">
  <section class="profile">
    <div class="avatar contain-icon icon-hook">
      <svg class="box-icon box-icon-1" version="1.1" width="74px" height="89px" viewBox="0 0 74.479 89.141">
        <path class="box-bottom-1" fill="none" stroke="#000" stroke-width="4" stroke-miterlimit="10" d="M67.874,84.885
        c0,1.173-0.959,2.132-2.132,2.132H8.737c-1.173,0-2.132-0.959-2.132-2.132V44.389c0-1.173,0.959-2.132,2.132-2.132h57.005 c1.173,0,2.132,0.959,2.132,2.132V84.885z"/>
        <path class="box-top-1" fill="none" stroke="#000" stroke-width="4" stroke-miterlimit="10" d="M72.354,41.018
        c0,0.655-0.536,1.191-1.191,1.191H3.315c-0.655,0-1.191-0.536-1.191-1.191v-9.795c0-0.655,0.536-1.191,1.191-1.191h67.849
        c0.655,0,1.191,0.536,1.191,1.191V41.018z"/>
        <path class="bow-1" fill="none" stroke="#000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
        M36.491,87.017c0,0,0-56.14,0-56.976c0-9.195,1.934-26.713-11.045-27.872c-9.035-0.807-14.344,9.487-11.634,17.091
        c3.113,8.734,14.479,10.773,22.678,10.773"/>
        <path class="bow-1 bow-1-right" fill="none" stroke="#000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
        M37.988,87.017c0,0,0-56.14,0-56.976c0-9.195-1.934-26.713,11.045-27.872c9.035-0.807,14.344,9.487,11.634,17.091
        c-3.113,8.734-14.479,10.773-22.678,10.773"/>
      </svg>
    </div>
    <!-- <img src="images/avatar.png" alt="" class="avatar" /> -->
    <div class="profile-info">
      <div class="edit-profile">
        <h1 class="title">Место под ёлкой</h1>
        <!-- <button popovertarget="edit-popover" class="edit"><i class="edit-icon"></i></button> -->
      </div>
      <a href="../index.html" class="subtitle">Разлогинься, жена</a>
    </div>
    <button popovertarget="add-popover" class="add"><i class="add-icon"></i></button>
  </section>
  <ul class="now-gift">
    <h2 class="now-gift__title">В пути</h2>
    <li class="now-gift-card">
      <img src="https://image.pyeoptics.com/images/products/2022/12/01/1669863639/2000xAUTO/3angle2.jpg" alt="" class="now-gift-card__image">
      <h3 class="now-gift-name"></h3>
      <a href="" class="now-gift-card__link"></a>
      <form class="progress">
        <div class="progress__percent" data-percent>0%</div>
        <div class="progress__wrap">
          <div class="progress__yr" data-start>-</div>
          <div class="progress__bar">
            <div class="progress__bar-fill-wrap progress__bar-fill-wrap--glow">
              <div class="progress__bar-fill" data-fill></div>
            </div>
            <div class="progress__bar-fill-wrap">
              <span id="progress" class="progress__bar-fill-sr">Gift Progress</span>
              <div aria-labelledby="progress" class="progress__bar-fill" role="progressbar" aria-valuemin="0" aria-valuenow="0" aria-valuemax="100" data-fill></div>
            </div>
            <div class="progress__bar-divs">
              <div class="progress__bar-div"></div>
              <div class="progress__bar-div"></div>
              <div class="progress__bar-div"></div>
              <div class="progress__bar-div"></div>
            </div>
          </div>
          <div class="progress__yr" data-end>-</div>
        </div>
        <details class="progress__stats" open>
          <summary class="progress__stat-summary">Больше деталей</summary>
            <i class="fa-solid"></i><p class="progress__bar-status"></p>
            <i class="fa-solid"></i><p class="progress__bar-status"></p>
            <i class="fa-solid"></i><p class="progress__bar-status"></p>
            <i class="fa-solid"></i><p class="progress__bar-status"></p>
        </details>
      </form>
    </li>
  </ul>
  <ul class="cards">
    <h2 class="cards__title">Не в пути, но в планах</h2>
    <div class="row">
      <div style="--ratio: 4 / 3;" class="item">4:3</div>
      <div style="--ratio: 2 / 3;" class="item">2:3</div>
    </div>
    
    <div class="row">
      <div style="--ratio: 3 / 2;" class="item">3:2</div>
      <div style="--ratio: 16 / 9;" class="item">16:9</div>
      <div style="--ratio: 1 / 1;" class="item">1:1</div>
    </div>
    <!-- <template id="card">
      <li class="card">
        <i class="delete"></i>
        <input type="image" src="" alt="" class="place" popovertarget="image-popover" />
        <div class="flex">
          <h3 class="name"></h3>
          <button class="like"></button>
        </div>
      </li>
    </template> -->
  </ul>
  <footer class="footer">
    <p class="copy">© 2020 Mesto Russia</p>
  </footer>
  <div id="add-popover" class="modal" popover>
    <div class="wrapper">
      <button
        class="close-btn"
        popovertarget="add-popover"
        popovertargetaction="hide"
      >
      </button>
      <form action="" class="form" name="addForm">
        <h3 class="title-form">Новое место</h3>
        <input type="text" name="placeInput" id="place" class="place_add-form" placeholder="Название" value="">
        <input type="text" name="linkInput" id="link" class="link_add-form" placeholder="Ссылка на картинку" value="">
        <button type="submit" class="formButton" name="addSubmitButton">Создать</button>
      </form>
    </div>
  </div>
  <div id="edit-popover" class="modal" popover>
    <div class="wrapper">
      <button
        class="close-btn"
        popovertarget="edit-popover"
        popovertargetaction="hide"
      >
      </button>
      <form action="" class="form" name="editForm">
        <h3 class="title-form">Редактировать профиль</h3>
        <input type="text" name="nameInput" id="name" class="name_edit-form" value="бла">
        <input type="text" name="jobInput" id="job" class="job_edit-form" value="блабла">
        <button type="submit" class="formButton">Сохранить</button>
      </form>
    </div>
  </div>

  <div id="image-popover" class="modal-image" popover>
    <div class="wrapper-image">
      <button
        class="close-btn-image close-btn"
        popovertarget="image-popover"
        popovertargetaction="hide"
      >
      </button>
      <img src="" alt="" class="image-big" loading="lazy">
      <p class="caption"></p>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  <script src="./progress.js"></script>
  <script src="./script.js"></script>
  <script src="https://kit.fontawesome.com/4e89d6bc1e.js" crossorigin="anonymous"></script>
</body>
</html>